Repository googleapis/python-recaptcha-enterprise, pull requests merged in 2021-11, with the labels that each got.

#147 docs(samples): removed assessment name in create_assessment sample
  samples/snippets/create_assessment.py
Labels: cla: yes, api: recaptchaenterprise, samples

#151 chore: delete owlbot.py
  docs/index.rst
  noxfile.py
  owlbot.py
  samples/snippets/test_create_assessment.py
  samples/snippets/test_site_key.py
Labels: cla: yes, api: recaptchaenterprise

#157 chore: update doc links from googleapis.dev to cloud.google.com
  .repo-metadata.json
  README.rst
Labels: cla: yes, api: recaptchaenterprise

#155 docs(samples): added sample and tests for annotate assessment API
  samples/snippets/annotate_assessment.py
  samples/snippets/create_assessment.py
  samples/snippets/test_create_assessment.py
Labels: automerge, cla: yes, api: recaptchaenterprise, samples

#161 docs(samples): added samples and test to migrate key and get metrics
  samples/snippets/get_metrics.py
  samples/snippets/list_site_keys.py
  samples/snippets/migrate_site_key.py
  samples/snippets/test_site_key.py
Labels: automerge, cla: yes, api: recaptchaenterprise, samples
